NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2tpbGxlZC1jYWxmLTU1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_BaF8ashiQ0g7QZ8mmsYEMQxdY7a16MWH7LhvuQWzIa
# MongoDB connection string
MONGODB_URI=mongodb+srv://aditya_db_user:18VN6ADzRGBE0fE9@cluster0.bofxsov.mongodb.net/eventhub?retryWrites=true&w=majority
